{% extends "admin/change_form.html" %}
{% load flatblockspreview_tags static %}

{% block bodyclass %}{{ block.super }}
    {{ original.mailing_set.all }}
{% endblock %}

{% block extrastyle %}
    <style>
        [name=content] {
            width: 40%;
        }

        .content-preview-wrapper {
            display: inline-block;
            margin-left: 2%;
            width: 40%;
        }

        .content-preview-error {
            display: none;
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block extrahead %}{{ block.super }}
    {% preview_url original as flatblock_preview_url %}
    <script src="{% static "bower_components/underscore/underscore-min.js" %}"></script>
    <script>
        (function ($) {
            $(document).ready(function() {
                var $content = $(':input[name=content]'),
                    $previewWrapper = $('<div></div>').addClass('content-preview-wrapper'),
                    $preview = $('<div></div>').addClass('content-preview'),
                    $previewError = $('<div></div>')
                        .addClass('content-preview-error')
                        .html('Something went wrong! Please keep editing, it ' +
                            'should start working. If not, please let us know.'),
                    url = '{{ flatblock_preview_url }}';
                $previewWrapper
                    .append($('<h2></h2>').text('Email preview:'))
                    .append($preview)
                    .append($previewError);
                $content.after($previewWrapper);

                // If there is no preview url, jump out here
                if (url === '') {
                    $preview.text('Sorry, no preview is available.');
                    return;
                }

                function updatePreview() {
                    $previewError.hide();
                    $.ajax(url, {
                        data: {
                            content: $content.val()
                        },
                        type: 'POST'
                    })
                        .done(function (data) {
                            $preview.html(data);
                            $preview.show();
                        })
                        .fail(function (data) {
                            $preview.hide();
                            $previewError.show();
                        });
                }
                updatePreview();

                var debouncedUpdatePreview = _.debounce(updatePreview, 350);
                $content.keyup(debouncedUpdatePreview);
            });
        })(django.jQuery);
    </script>
{% endblock %}
